<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Pay Derby Dues Home</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script data-main="www/js/app" src="www/js/lib/require.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pay Derby Dues</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="POST">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Pay Derby Dues</h1>
        <p>We make collecting and tracking membership dues easy and fun.
        <p><a class="btn btn-primary btn-lg" href="/learnmore" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Making Dues Easy</h2>
          <p>We handle the entire process of collecting member dues for you:
            generating invoices, sending reminder emails, and collecting
            payments using <a href="https://stripe.com">Stripe</a>. which
            deposits the money right into your league's bank account.
          <p><a class="btn btn-default" href="/learnmore" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Pricing</h2>
          <p>Our pricing scheme is simple and designed to serve leagues both
            large and small. We simply charge a 5% fee on any transactions
            that we process. Keep in mind that this also covers Stripe's
            payment processing fees.
          <p><a class="btn btn-default" href="/signup" role="button">Sign up &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Who We Are</h2>
          <p>We are a Boston-based company started by a two-person team with
            both coding and roller derby experience.
          </p>
          <p><a class="btn btn-default" href="/who" role="button">About the team &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Pay Derby Dues 2015</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>

