<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Pay Derby Dues Home</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script data-main="www/js/app" src="www/js/lib/require.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pay Derby Dues</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="POST">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Pay Derby Dues</h1>
        <p>We make collecting and tracking membership dues easy and fun.
        <p><a class="btn btn-primary btn-lg" href="/learnmore" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Making Dues Easy</h2>
          Does your league have trouble collecting dues from its members? Is getting everyone to pay a monthly challenge? Do you still use a giant pile of spreadsheets with
          hand-entered data from paypal statements to keep track of everything? Well, now you don't have to!</p>
          <p>We handle everything for you: collecting the money using <a href="http://stripe.com">Stripe</a> and depositing it right into your league's bank account,
          and tracking who has and hasn't paid their dues. We support multiple membership classes, tracking cash payments and using the system for non-dues payments as well!
          <p><a class="btn btn-default" href="/learnmore" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Rollout</h2>
          <p>Our product is not quite ready for general use yet, but you can be the first to know when we're ready to roll out if you sign up for our mailing list!</p>
          <p><a class="btn btn-default" href="/rollout" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Who We Are</h2>
          <p>We are a Boston-based company started by a roller derby skater and a programmer.</p>
          <p><a class="btn btn-default" href="/who" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Pay Derby Dues 2015</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>

