<div class="starter-template">
  <h1>Dues made easy</h1>
  <p class="lead">
      Does your league have trouble collecting dues from its members? Is
  getting everyone to pay a monthly challenge? Do you still use a giant pile
  of spreadsheets with hand-entered data from paypal statements to keep track
  of everything? Well, now you don't have to!
  </p>
  <p>
    We collect dues payments using <a href="http://stripe.com">Stripe</a>
    for credit card payments, and the money gets deposited right into your
    league's bank account. We handle all the tracking of who has and hasn't
    paid, and let Stripe handle all the payment details, including collecting
    credit card information. If you have league members who prefer
    to use cash or check, we can help you track their payments as well. And we
    can handle other payments besides dues: payments for merch, uniforms, or
    anything else league members might need to pay for.
  </p>
  <p>
    So how do we make money? We charge a small fee on each payment your
    league members make, part of which goes to pay credit card fees.
    However, if our service gets even one member's worth of dues more per
    month, your league will actually be saving money. Meanwhile, your league's
    volunteers will be freed from a lot of busywork, and have more time to
    deal with other league business.
  </p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
</div>
