<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script data-main="www/js/app" src="www/js/lib/require.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>How it works</h1>
        <p class="lead">
          We use <a href="http://stripe.com">Stripe</a> to let your league members pay their dues with
          a credit or debit card, and deposit the money right into your league's bank account.
        </p>
        <p>
          We handle all the tracking of who has and hasn't paid, and let Stripe handle all the payment
          details, including collecting credit card information. If you have league members who prefer
          to use cash or check, we can help you track their payments as well. And we can handle other
          payments besides dues as well: payments for merch, uniforms, or anything else league members
          might need to pay for.
        </p>
        <p>
          So how do we make money? We charge a small fee on each payment your league members make,
          part of which goes to the payment processor. However, we believe that with our help, you
          will be able to collect dues so much more effectively that it will be worth it. If you get
          even one more league member to pay their dues every month thanks to our service, your league
          will actually make more money than you pay in fees, and your volunteers will have that much
          free time to deal with other league business.
        </p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
