      <div class="starter-template">
        <h1>How it works</h1>
        <p class="lead">
          We use <a href="http://stripe.com">Stripe</a> to let your league members pay their dues with
          a credit or debit card, and deposit the money right into your league's bank account.
        </p>
        <p>
          We handle all the tracking of who has and hasn't paid, and let Stripe handle all the payment
          details, including collecting credit card information. If you have league members who prefer
          to use cash or check, we can help you track their payments as well. And we can handle other
          payments besides dues as well: payments for merch, uniforms, or anything else league members
          might need to pay for.
        </p>
        <p>
          So how do we make money? We charge a small fee on each payment your league members make,
          part of which goes to the payment processor. However, we believe that with our help, you
          will be able to collect dues so much more effectively that it will be worth it. If you get
          even one more league member to pay their dues every month thanks to our service, your league
          will actually make more money than you pay in fees, and your volunteers will have that much
          free time to deal with other league business.
        </p>
      </div>
