<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="new user registration page for payderbydues.com">
    <meta name="author" content="payderbydues.com">

    <title>New User Registration</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link href="/www/css/signin.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <form id="newregistration" class="form-signin" method="post">
        <h2 class="form-signin-heading">Please include information for registering</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="repeatPassword" class="sr-only">Repeat Password</label>
        <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required> <!-- note this isn't posted -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

	{{message}}

    </div> <!-- /container -->
  </body>
</html>
