<div class="starter-template">
  <h1>Sign up</h1>

  <p>
    If you are interested in signing up with PayDerbyDues, please email
    us at <a href="mailto:arcady@payderbydues.com">arcady@payderbydues.com</a>
    and we will help get you set up. Note that as part of the process, your
    league will need to sign up for a <a href="https://www.stripe.com/">
    Stripe account</a>. We use Stripe to process credit card payments, which
    will be deposited into your league's bank account.
  </p>

  <a class="btn btn-primary btn-lg" href="mailto:arcady@payderbydues.com" role="button">Email Us</a>
</div>

  
