      <div class="starter-template">
        <h1>Contact Us</h1>

	<br>

	<b>Pay Derby Dues</b> is a Boston-based company started by 2 friends, Arcady and Eden, who met as students at Brown.

	<br><br>

	Arcady (left) is a roller derby skater and ref from NYC.  He's an expert on operating systems, home improvement, public transportation, international monetary policy, residential zoning law, biking, tea, derby operations, Russia, the GNU toolchain, and God only knows how many other things. 

	<br><br>

	Eden's just another perl hacker from NJ.  He's interested in biology, and has trouble describing himself in the 3rd-person.

	<br><br>

	You can reach the founders individually at arcady@payderbydues.com and eden@payderbydues.com.  To reach both, email info@payderbydues.com.

	<br><br>

	<div class="container">
		<div class="row">
			<div>
				 <img src="//s3-us-west-2.amazonaws.com/payderbydues/images/edenandarcady.jpg" class="img-responsive">
			</div>
		</div>
      </div>
